/* --- iX Hero Image --- */
.hero-container { background-color: black; position: relative; z-index: 2; }

.hero-button, .button {

background-color: #f8232b;
border-radius: 30px;
color: white;
cursor: pointer;
display: inline-block;
text-align: center;
transition: all 0.2s ease;
-webkit-font-smoothing: antialiased;
text-decoration: none;
text-transform: uppercase;
padding: 15px 30px;
position: relative;
font-weight: 300;
}

.hero-button:hover {
	padding-right: 46px;
}

.hero {
	position: relative;
	overflow: hidden;
	background: url() no-repeat scroll 50% 50%;
	background-size: cover;
}

.hero .dummy {
	padding-top: 40vw;
}

.hero-text {
	color: white;
	position: absolute;
	width: 40vw;
	magin: 0 auto;
	top: 0;
	left: 5vw;
	text-align: center;
}

.hero-h1 {
	color: white;
	font-weight: 100;
}

.hero-h1 {
	font-size: 3.75vw;
	padding-top: 6vw;
	line-height: 1.5em;
	width: 90%;
	margin: 0 auto;
}


.hero-button {
	font-size: 2.5vw;
	margin-top: 3.3vw;
}

.hero-button:after {
	padding: 0.3em 0em 0em 0.3em;
	font-size: 3vw;
}

@media only screen and (min-width:480px) {

	.hero .dummy {
		padding-top: 38vw;
	}

}

@media only screen and (min-width:558px) {

	.hero-h1 {
		font-size: 3.75vw;
		padding-top: 4vw;
	}


	.hero-button {
		font-size: 2.0vw;
		margin-top: 3.8vw;
	}

	.hero-button:after {
		padding: 0.3em 0em 0em 0.3em;
		font-size: 3vw;
	}

}

@media only screen and (min-width:768px) {
	.hero .dummy {
		padding-top: 35vw;
	}


	.hero-h1 {
		font-size: 3.75vw;
		padding-top: 3vw;
	}

	.hero-button {
		font-size: 2vw;
		margin-top: 4.5vw;
	}

	.hero-button:after {
		padding: 0.3em 0em 0em 0.3em;
		font-size: 2vw;
	}

}

@media only screen and (min-width:981px) {

	.hero .dummy {
		padding-top: 31vw;
	}


	.hero-h1 {
		font-size: 3.75vw;
		padding-top: 4.5vw;

	}

	.hero-button {
		font-size: 1.5vw;
		margin-top: 2.3vw;
	}

	.hero-button:after {
		padding: 0.3em 0em 0em 0.3em;
		font-size: 2vw;
	}

}

@media only screen and (min-width:1200px) {
	.hero .dummy {
		padding-top: 31vw;
	}

	.hero-text {
		left: 10vw;
	}


	.hero-h1 {
		font-size: 3vw;
		padding-top: 7.5vw;
	}

	.hero-button {
		font-size: 1.2vw;
		margin-top: 5.2vw;
	}

	.hero-button:after {
		padding: 0.3em 0em 0em 0.3em;
		font-size: 1.2vw;
	}
}
/* --- End of iX Hero Image --- */


.simple-hero-container { background-color: black; position: relative; z-index: 2; }

.simple-hero {
	position: relative;
	overflow: hidden;
	background: url() no-repeat scroll 50% 50%;
	background-size: cover;
	background-image: url("/img/simple-hero.png")
}

.simple-hero .simple-dummy {
    padding-top: 30vw;
}

.simple-hero-text  {
    color: white;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    font-size: 80%;
}


.simple-hero-h1 {
	color: white;
	font-weight: 100;
}

.simple-hero-h1 {
    font-size: 8.5vw;
    padding-top: 6vw;
	line-height: 1.5em;
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width:480px) {

	.simple-hero .simple-dummy {
	    padding-top: 25vw;
	}

}

@media only screen and (min-width:768px) {


	.simple-hero .simple-dummy {
	    padding-top: 23vw;
	}


	.simple-hero-h1 {
	    font-size: 8.5vw;
	    padding-top: 3.5vw;
	}
}

@media only screen and (min-width:981px) {

	.simple-hero .simple-dummy {
	    padding-top: 25vw;
	}


	.simple-hero-h1 {
	    font-size: 6.5vw;
	    padding-top: 6vw;

	}

}

@media only screen and (min-width:1200px) {

	.simple-hero .simple-dummy {
	    padding-top: 10vw;
	}


	.simple-hero-h1 {
	    font-size: 2.5vw;
	    padding-top: 2.5vw;
	}

}