---
---
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" type="text/css" href="{{ "/lib/flexboxgrid/dist/flexboxgrid.min.css" | relative_url }}"/>
        <link rel="stylesheet" type="text/css" href="{{ "/lib/flexboxgrid-helpers/dist/flexboxgrid-helpers.min.css" | relative_url }}"/>
        <link rel="stylesheet" type="text/css" href="{{ "/lib/normalize.css/normalize.css" | relative_url }}"/>
        <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | relative_url }}"/>
        <title>iocage | {{ page.title }}</title>
     </head>
     <body>
        <header class="container-fluid">
            <div class="row">
                <div class="menu col-xs-12">
                    <a href="/" title="iocage" class="logo">
                        <span>
                            <object data="{{ "/img/iocage_logo.svg" | relative_url }}" type="image/svg+xml">
                                <img src="{{ "/img/iocage_logo.png" | relative_url }}" alt="iocage">
                            </object>
                        </span>
                    </a>
                    <nav class="hidden-xs">
                        <ul>
                            {% for item in site.navigation %}
                            <li>
                                {% if item.icon %}
                                <a href="{{item.url}}" class="nav-link ico {% if item.url == page.url %}active{% endif %}">
                                    <span class="fab fa-{{item.icon}}"></span>
                                </a>
                                {% else %}
                                <a href="{{item.url}}" class="nav-link {% if item.url == page.url %}active{% endif %}">
                                    <span>{{item.name}}</span>
                                </a>
                                {% endif %}
                            </li>
                            {% endfor %}
                       </ul>
                    </nav>
                </div>
            </div>
        </header>
        <content>{{content}}</content>
        <footer class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    Copyright 2018 iocage All Rights Reserved | <a class="{% if page.url == "/privacy-policy/" %}active{% endif %}" href="/privacy-policy/">Privacy Policy</a>
                </div>
            </div>
        </footer>
     </body>
</html>
